.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 30px;
  padding-right: 115px;

  position: absolute;
  top: 33px;
  left: 0;
  z-index: 100;

  &__logo {
    margin-right: 36px;
    margin-bottom: -81px;
  }

  &__nav-wrapper {
    display: flex;
    align-items: center;
  }

  &__nav {
    display: flex;
    align-items: center;
    
    li {
      display: flex;
    }

    a {
      font-size: 18px;
      font-weight: 500;
      color: #fff;
    }

    & li:not(:last-child) {
      margin-right: 80px;
    }
  }

  &__nav-link--dropdown {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 3px;
      right: -25px;
      transform: rotate(315deg);
      width: 10px;
      height: 10px;
      border-bottom: 1px solid #fff;
      border-left: 1px solid #fff;
    }
  }

  &__nav-link--menu {
    position: relative;

    &:after, &:before {
      content: '';
      width: 14px;
      height: 1px;

      position: absolute;
      right: -25px;
      top: 4px;

      background: #fff;
    }

    &:before {
      top: 16px;
    }
  }

  &__menu-button {
    position: absolute;
    right: -25px;
    top: 10px;
    width: 14px;
    height: 1px;
    background: #fff;
  }

  &__panel {
    display: flex;
    align-items: center;
  }

  &__icons {
    display: flex;
    align-items: center;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  &--dark a, &--dark .language-switcher{
    color: #000;
  }

  &--dark a, &--dark .language-switcher:after {
    border-color: #000;
  }

  &--dark &__nav-link--dropdown:after {
    border-color: #000;
  }

  &--dark &__nav-link--menu:after, &--dark &__nav-link--menu:before {
    background: #000;
  }

  &--dark &__menu-button {
    background: #000;
  }
}